<?xml version="1.0"?>
<configuration>
	<configSections>
	</configSections>
	<!-- DataBase settings. ODBC connection string  -->
	<connectionStrings>
		<add name="DoctorDisplay.Properties.Settings.ConnectionString" connectionString="dsn=BasePTC" providerName="System.Data.Odbc"/>
	</connectionStrings>
	<appSettings>
		<add key="DefaultCulture" value="ru-RU"/>
		<!-- network settings -->
		<add key="UdpPort" value="2555"/>
		<add key="TcpPort" value="30043"/>
		<add key="PulsePort" value="30044"/>
		<add key="ExhalePort" value="30045"/>
		<add key="BreathPort" value="30046"/>
		<!-- database settings -->
		<add key="Local" value="false"/>
		<add key="DataBasePath" value="P:\"/>
		<add key="HeadPath" value="Head"/>
		<add key="PhotoPath" value="Foto"/>
		<add key="PatientsTab" value="Patients_tab"/>
		<add key="HeadTab" value="Head_tab"/>
		<add key="ActivateMicrophone" value="true"/>
		<!-- video camera settings for PatientDisplay -->
		<add key="PDispWidth" value="1024"/>
		<add key="PDispHeight" value="600"/>
		<!-- profile camera width -->
		<add key="ProfileWidth" value="320"/>
		<!-- Region Of Interest (ROI) default settings -->
		<add key="RoiX" value="0"/>
		<add key="RoiY" value="0"/>
		<add key="RoiWidth" value="0"/>
		<add key="ShiftX" value="-30"/>
		<add key="Threshold" value="50"/>
		<!-- video compressor GUID WMVideo8 Encoder DMO -->
		<add key="VideoMediaType" value="33564D57-0000-0010-8000-00AA00389B71"/>
		<!-- video camera settings for DoctorDisplay.  -->
		<add key="FlipVideo" value="1"/>
		<!-- Serial/COM Port settings for reading pulse data on PatientDisplay-->
		<add key="PortName" value="COM5"/>
		<add key="BaudRate" value="115200"/>
		<add key="DataBits" value="8"/>
		<add key="Parity" value="0"/>
		<add key="StopBits" value="0"/>
		<add key="Handshake" value="0"/>
		<add key="ClientSettingsProvider.ServiceUri" value=""/>
		<!-- display errors with detailed Doctor Watson info -->
		<add key="ShowErrors" value="false"/>
		<!-- add key="UdpListenerErrorMsg" value="Произошла ошибка соединения. Проверьте сетевой разъём." /-->
	</appSettings>
	<startup>
	</startup>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="8Session.PDispWidth0"/>
			</providers>
		</roleManager>
	</system.web>
</configuration>
